<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.thecommuter" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.android.thecommuter.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.thecommuter.FavoritesActivity"
            android:label="@string/favorites" >
        </activity>
        <activity
            android:name="com.example.android.thecommuter.StopsActivity"
            android:label="@string/stops" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.thecommuter.MainActivity" />
        </activity>
        <activity
            android:name="com.example.android.thecommuter.ArrivalsActivity"
            android:label="@string/arrivals" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.thecommuter.StopsActivity" />
        </activity>
        <receiver android:process=":remote" android:name=".location.AlarmReceiver"></receiver>
    </application>

    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
